{% extends "base/base.html" %}
{% block content %}
<div class="row justify-content-start mt-2">
    <div class="col-2 d-flex justify-content-end">
        <img class="rounded-circle" src="{{user.profile.image.url}}" width="100" alt="{{user.username}}">
    </div>
    <div class="col-2 d-flex justify-content-center flex-wrap flex-column">
        <h3>{{user.username}}</h3>
        <small>{{user.email}}</small>
    </div>
</div>
<div class="row mt-4">
    <div class="col-4 d-flex justify-content-center">
        <a class="btn btn-outline-primary" href="{% url 'password-reset' %}">Reset Your Password</a>
    </div>
</div>
{% endblock content %}