.active {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
}

/* .task-details {
    height: 500px !important;
} */

/* .tasks-selection {
    max-width: 300px !important;
} */